/*
    Stylesheet for social network application
*/
.root {
  display: block;
  -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
  -fx-text-fill: white;
  -fx-font-family: "courier";
}

.fontStyle{
  -fx-font-size: 25;
  -fx-font-family: "courier";
  -fx-font-color: white;
}

.button{
  -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
  -fx-background-insets: 0,1,4,5,6;
  -fx-background-radius: 9,8,5,4,3;
  -fx-padding: 10 15 10 15;
  -fx-font-family: "courier";
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
  -fx-pref-width: 215px;
  -fx-align: center;
  
}

.text-field {
  -fx-border-color: black;
  -fx-border-width: 2; 
  -fx-background-color: white;
  -fx-padding: 0 2 2 0;
}